<!DOCTYPE html>
<html class="fixed" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{plantilla}">
<head>
</head>

<body>
	<div layout:fragment="Contenidohtml">
		<div class="container mt-5">
			<h2>Formulario de Tareas</h2>
			<form th:action="@{/guardarTarea}" method="post" th:object="${nuevo}">
				<div class="form-group">
					<label for="nombreTarea">Nombre de la Tarea:</label> <input
						type="text" class="form-control" id="nombreTarea"
						name="nombreTarea" placeholder="Ingrese el nombre de la tarea"
						th:value="*{nombreTarea}" required>
				</div>

				<div class="form-group">
					<label for="descripcion">Descripción:</label>
					<textarea class="form-control" id="descripcion" name="descripcion"
						rows="4" placeholder="Ingrese una descripción"
						th:value="*{descripcion}" required></textarea>
				</div>

				<div class="form-group">
					<label for="fechaInicio">Fecha de Inicio:</label> <input
						type="date" class="form-control" id="fechaInicio"
						name="fechaInicio" th:value="*{fechaInicio}" required>
				</div>

				<div class="form-group">
					<label for="fechaFin">Fecha de Fin:</label> <input type="date"
						class="form-control" id="fechaFin" name="fechaFin"
						th:value="*{fechaFin}" required>
				</div>

				<div class="form-group">
					<label for="estado">Estado:</label> <select class="form-control"
						id="estado" name="estado" th:value="*{estado}" required>
						<option value="Pendiente">Pendiente</option>
						<option value="En Progreso">En Progreso</option>
						<option value="Completado">Completado</option>
					</select>
				</div>

				<div class="form-group">
					<label for="fkProyectos">Proyecto:</label> <select
						class="form-control" id="fkProyectos" name="fkProyectos" required>
						<option th:each="proyecto : ${proyectos}"
							th:value="${proyecto.id}" th:text="${proyecto.nombreProyectos}">Proyecto</option>
					</select>
				</div>

				<button type="submit" class="btn btn-primary">Guardar</button>
			</form>
		</div>
	</div>
</body>
</html>